<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252997928208-o72us9u6h41isbn7hrgudcd7b5urh3ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252997928208-o72us9u6h41isbn7hrgudcd7b5urh3ht</string>
	<key>API_KEY</key>
	<string>AIzaSyDMO6PtydOGpSUbe1Pwna2pZZ2DUe_tOXk</string>
	<key>GCM_SENDER_ID</key>
	<string>252997928208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmeet</string>
	<key>PROJECT_ID</key>
	<string>bmeet-3db45</string>
	<key>STORAGE_BUCKET</key>
	<string>bmeet-3db45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252997928208:ios:aca4d652982941062f5195</string>
</dict>
</plist>